/* Login*/

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  
    min-height: 80vh;
    padding: 2rem 1rem;
}
  
  .logoFrame {
    width: 100%;
    max-width: 500px;
    margin-bottom: 3rem;
  }
  
  .loginTitle {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 2rem;
  }
  
  .microsoftButtonWrapper {
    width: 100%;
    max-width: 380px;
    display: flex;
    justify-content: center;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
  }
  
  .forgotPassword {
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    text-align: center;
    cursor: pointer;
  }


  @media (min-width: 480px) {
    .loginTitle {
      font-size: 2.5rem;
    }
  
    .forgotPassword {
      font-size: 1.0rem;
    }
  }

  @media (max-width: 480px) {
    .logoFrame {
      max-width: 300px;
    }

    .microsoftButtonWrapper {
        max-width: 280px;
      }
  }