@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

/* Light mode (default) */
@theme {
    /* Background colors */
    --color-primary-bg: #F5F3F0;
    --color-secondary-bg: #FAFAFA;
    --color-sidebar-bg: #FAFAFA;

    /* Text colors */
    --color-primary: #171717;
    --color-secondary: #202020;

    /* Border colors */
    --color-sidebar-border: #ff0000;
    --color-main-border: #ffcc00;

    /* Icon colors */
    --color-icon: #ec3349;

    /* Button colors */
    --btn-success: #22c55e;
    --btn-success-hover: #16a34a;
    --btn-close: #c5c7cb;
    --btn-close-hover: #b1b5bb;
    --btn-destructive: #ff0000;
    --btn-destructive-hover: #ff1100;

    --font-sans: var(--font-geist-sans);
    --font-mono: var(--font-geist-mono);
}

/* Dark mode */
@layer base {
    @variant dark {
        /* Background colors */
        --color-primary-bg: #211F2A;
        --color-secondary-bg: #FAFAFA;
        --color-sidebar-bg: #1A1821;

        /* Text colors */
        --color-primary: #E4E3B6;
        --color-secondary: #e8e695;

        /* Border colors */
        --color-sidebar-border: #ffcc00;
        --color-main-border: #ff0000;

        /* Button colors */
        --btn-success: #22c55e;
        --btn-success-hover: #16a34a;
        --btn-close: #334155;
        --btn-close-hover: #475569;
        --btn-destructive: #ff0000;
        --btn-destructive-hover: #ff1100;

        /* Icon colors */
        --color-icon: #FDBA15;
    }
}

body {
    /** TODO Leftover from old globals.css */
    font-family: var(--font-sans, Arial, Helvetica, sans-serif);
    transition: var(--color-primary-bg) 0.3s ease, color 0.3s ease;

    background: var(--color-primary-bg);
    color: var(--color-primary);
}

.border-sidebar {
    border: 3px solid var(--color-sidebar-border);
}

.border-main {
    border: 3px solid var(--color-main-border);
}

.border-wip {
    border: 4px dashed var(--color-main-border);
}

.button-save {
    cursor: pointer;
    background: var(--btn-success);
    color: var(--color-primary);
    padding: 0.5rem 1.5rem;
    border-radius: 0.75rem;
    font-weight: 500;
    transition: var(--color-primary-bg) 150ms ease;
}

.button-save:hover {
    cursor: pointer;
    background: var(--btn-success-hover);
}

.button-close {
    cursor: pointer;
    background: var(--btn-close);
    color: var(--color-primary);
    padding: 0.5rem 1.5rem;
    border-radius: 0.75rem;
    font-weight: 500;
    transition: var(--color-primary-bg) 150ms ease;
}

.button-close:hover {
    cursor: pointer;
    background: var(--btn-close-hover);
}