.container {
  overflow: auto;
  width: 80px;
  height: 80vh;
  left: 20px;
  top: 30px;
  background-color: #fafafa;
  border: 3px solid rgba(240, 50, 70, 0.5);
  filter: drop-shadow(4px 4px 10px #EC3349);
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem 0;
  gap: 1rem;
}

.iconWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  flex-grow: 1;
  min-height: 0;
}

.icon {
  font-size: 35px;
  color: black;
  cursor: pointer;
  transition: all 0.2s ease;
  flex-shrink: 0;
}

.icon:hover {
  transform: scale(1.3);
  color: #ec3349;
}

.active {
  color: #ec3349;
  transform: scale(1.3);
}
