.container {
  box-sizing: border-box;
  position: absolute;
  width: 80px;
  height: 100vh;
  left: 19px;
  top: 30px;
  background-color: #fafafa;
  border: 3px solid rgba(236, 51, 73, 0.51);
  filter: drop-shadow(4px 4px 10px #EC3349);
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem 0;
  gap: 1rem;
}

.iconWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}

.icon {
  font-size: 24px;
  color: black;
  cursor: pointer;
  transition: color 0.2s ease;
}

.icon:hover {
  transform: scale(1.1);
  color: #ec3349;
}

.active {
  color: #ec3349;
  tranform: scale(1.3);
}
